!!!
%html
  %head
    %title Shortener
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .notice= notice
    .alert= alert
    - if user_signed_in?
      .signed_in_as= "Signed in as #{current_user.email}."
      .preferences= link_to 'Preferences', edit_user_registration_path(current_user)
      .sign_out= link_to 'Sign Out', destroy_user_session_url, :method => :delete
    - else
      - unless controller.class.to_s.include?('Devise')
        .sign_up= link_to "Sign up", new_user_registration_path
        .sign_in= link_to 'Sign In', new_user_session_url
    = yield
